<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<a href="/profile" class="btn btn-success">My profile</a>

<h1>Articles</h1>
<table class="table table-striped">
	<tr>
	    <th>Title</th>
	    <th>Author</th>
	   	<th>Date</th>
	   	<th>Text</th>
	    <th>Category</th>
	    
	    
	</tr>  
	<tr th:each = "article : ${articles}" th:onclick="'window.location.href = \'' + @{/article/{id}(id=${article.id})} + '\''">
		<td th:text="${article.title}"></td>
		<td th:text="${article.author.username}"></td>
		<td th:text="${article.date}"></td>   		
		<td th:text="${article.text}"></td> 
		<td th:text="${article.category.name}"></td>	
	</tr>
 </table>
 <form th:action="@{/login}" method="post">
 <input type="submit" value="Log in" class="btn btn-primary"/>
</form>
 <form th:action="@{/logout}" method="post">
 <input type="submit" value="Log Out" class="btn btn-primary"/>
</form>
</body>
</html>